*.un~
*.swp
*.so
*.pyc
__pycache__
.DS_Store
.idea
.env_secret
.vscode
*credentials*
.aws-sam
.credentials
.aws-sam
*.lic
*.pid
env
node_modules
package-lock.json
temp.py
temp.html
temp*
.mypy_cache
.pytest_cache
